body {
    background-color: #f8f8fb;
}

#message { 
    width: calc(100% - 90px); 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 20px 0 0 20px; 
}

#messages { 
    height: 780px; 
    overflow-y: auto; 
    margin-bottom: 10px;
    /* width: 70%;  */
    /* display: flex; */
}


.bg-nav-home {
    background-color: #5e76e7;
}

.dp-content {
    display: contents;
}

.text-dec {
    text-decoration: none;
}

.btn-outline-home{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.btn-outline-home:hover {
    color: white;
    background-color: #5e76e7;
}

.w-70{
    width: 70%;
}

.dp-flex-center {
    display: flex;
    justify-content: center;
}

.message { 
    margin: 10px; 
    padding: 10px; 
    border-radius: 5px; 
}

.user { 
    background-color: #d1e7dd; 
    text-align: right; 
}

.cs { 
    background-color: #f8d7da; 
    text-align: left; 
}

.message-button {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    max-width: 500px;
  }
  
  .message-button input.form-control {
    flex: 1;
    border: none;
    background: none;
    padding: 8px;
    font-size: 16px;
    outline: none;
    border-radius: 20px 0 0 20px;
  }
  
  .message-button button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .message-button button .arrow {
    font-size: 18px;
  }
  
  .message-button button:hover {
    background-color: #d0d0d0;
  }
  